#blogA {
  color: #000000;
}

#blogArticle {
  padding: 0 0 0 8px;
  border: 1px black solid;
  background: #ddd;
  width: 240px;
}

@font-face {
  font-family: "MonaspaceArgon-Regular";
  src:
    url("/src/MonaspaceArgon-Regular.woff2") format("woff2");
}

pre{
  font-family: "MonaspaceArgon-Regular";
}
