#blogA {
  color: #000000;
}

#blogArticle {
  padding: 0 0 0 8px;
  border: 1px black solid;
  background: #ddd;
  width: 240px;
}

@font-face {
  font-family: "JetBrainsMonoNerdFontMono-Regular";
  src:
    url("/src/JetBrainsMonoNerdFontMono-Regular.ttf") format("ttf");
}

pre{
  font-family: "JetBrainsMonoNerdFontMono-Regular";
}
